<div class="col-3 pt-5">
  <div class="card" style="width: 18rem;">
    <%= image_tag 'no-img-200x200.jpg', class: "bd-placeholder-img card-img-top img-fluid", alt: '<image>' %>
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text"><%= product.description.truncate(30) %></p>
      <p class="card-text"><%= product.price %></p>
      <%= link_to 'Show', product %>
    </div>
  </div>
</div>
