<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <%= link_to 'Home', root_path, class: 'nav-link px-2 text-primary' %>
    </ul>

    <%= form_with url: "/search", method: :get, class: 'col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3', id: 'search' do |form| %>
      <%= form.text_field :query, class: 'form-control form-control-dark', placeholder: 'Search...', 'aria-label': "Search", id: 'autocomplete' %>
    <% end %>

    <div class="text-end">
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, type: 'button', class: 'btn btn-danger', method: :delete %>
          <% if current_order %>
            <%= link_to 'Cart', order_path(current_order), class: 'btn btn-primary' %>
          <% end %>
        <% else %>
        <%= link_to 'Sign In', new_user_session_path, type: 'button', class: 'btn btn-outline-light me-2' %>
        <%= link_to 'Sign Up', new_user_registration_path, type: 'button', class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("#autocomplete").autocomplete({
    delay: 500,
    minLength: 2,
    source: '/search_titles',
    select: function(event, ui) {
        $('#autocomplete').val(ui.item.label);
        $('#search').submit();
    }
  })
</script>
