<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "jquery-ui.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "jquery-ui.min", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <%= render 'layouts/header' %>
    </header>
    <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
